<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- CSSs -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style-category.css">
	<link rel="stylesheet" href="/css/all.css">

	<title>Categories</title>

</head>

<body>

	<%- include('templates/navbar'); -%>

	<!-- Jumbotron -->
	<div class="jumbotron-categories">
		<h1 class="jumbotron-title">Job Categories</h1>
		<p class="jumbotron-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in
			neque recusandae, iste magni non.</p>
	</div>
	<!-- END OF Jumbotron -->

	<!-- Categories -->
	<div class="container">
		<div class="category-art">

			<!-- category-1 -->
			<div class="category-group" style="margin-top: 0px !important;">
				<p class="category-title">Art and Design</p>
				<div class="row card-categories">

					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/cartoons.png')">
								<p class="card-text">Cartoons & Comics</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/game-design.png')">
								<p class="card-text">Game Design</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/graphic-design.png')">
								<p class="card-text">Graphic Design</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/illustration.png')">
								<p class="card-text">Illustration</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/modelling.png')">
								<p class="card-text">Modelling</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/product-design.png')">
								<p class="card-text">Product Design</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/tshirt.png')">
								<p class="card-text">T-Shirts and Merchandise</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/web-design.png')">
								<p class="card-text">Web and Mobile Design</p>
							</div>
						</a>
					</div>

				</div>
			</div>
			<!-- END OF category-1 -->

			<!-- category-2 -->
			<div class="category-group mt-5">
				<p class="category-title">Digital Marketing</p>
				<div class="row card-categories">

					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/accounting.png')">
								<p class="card-text">Accounting</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/sales.png')">
								<p class="card-text">Sales & Marketing</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/seo.png')">
								<p class="card-text">SEO</p>
							</div>
						</a>
					</div>

				</div>
			</div>
			<!-- END OF category-2 -->

			<!-- category-3 -->
			<div class="category-group mt-5">
				<p class="category-title">Music and Video</p>
				<div class="row card-categories">

					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/composer.png')">
								<p class="card-text">Composers</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/producers.png')">
								<p class="card-text">Producers</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/video-animation.png')">
								<p class="card-text">Video Animations</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/video-editing.png')">
								<p class="card-text">Video Editing</p>
							</div>
						</a>
					</div>

				</div>
			</div>
			<!-- END OF category-3 -->

			<!-- category-4 -->
			<div class="category-group mt-5">
				<p class="category-title">Web and Programming</p>
				<div class="row card-categories">

					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/data-science.png')">
								<p class="card-text">Data Science</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/gamedev.png')">
								<p class="card-text">Game Development</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/mobile-app.png')">
								<p class="card-text">Mobile Apps</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/support.png')">
								<p class="card-text">Support and IT</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/testing.png')">
								<p class="card-text">User Testing</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/web-programming.png')">
								<p class="card-text">Web Programming</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/wordpress.png')">
								<p class="card-text">Wordpress</p>
							</div>
						</a>
					</div>

				</div>
			</div>
			<!-- END OF category-4 -->

			<!-- category-5 -->
			<div class="category-group mt-5">
				<p class="category-title">Writing</p>
				<div class="row card-categories">

					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/translation.png')">
								<p class="card-text">Translation</p>
							</div>
						</a>
					</div>
					<div class="col-md-3">
						<a href="/joblist">
							<div class="card-category ml-1 mr-1 d-flex justify-content-center" style="background-image: url('img/categories/writing.png')">
								<p class="card-text">Writing</p>
							</div>
						</a>
					</div>

				</div>
			</div>
			<!-- END OF category-5 -->

		</div>
	</div>
	<!-- END OF Categories -->

	<!-- Footer -->
	<footer>

		<div class="container footer-top">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="#"><img src="img/logo.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link p-brand" href="#">JOB SEEKER Inc.</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Categories</a>
						</li>
						<li class="nav-item">
							<div class="btn-post-job">
								<a class="nav-link" href="#">Post job</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About us</a>
						</li>
					</ul>
					<ul class="navbar-nav navbar-right">
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="#">Login</a>
						</li>
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="#">|</a>
						</li>
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="#">Register</a>
						</li>
					</ul>
				</div>
			</nav>


		</div>

		<hr class="">

		<div class="container footer-bottom">
			<p><i class="fas fa-copyright"></i>&nbsp;2020 Job Seeker Inc. Job Vacancy Corporation.</p>
			<ul class="list-footer-bottom">
				<li>Terms of Service</li>
				<li>Privacy Policy</li>
			</ul>
		</div>

	</footer>
	<!-- END OF Footer -->


	<!-- JQuery and JSs -->
	<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>

</html>