<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- CSSs -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/all.css">

	<!-- <script src="https://kit.fontawesome.com/a6b535fb5d.js" crossorigin="anonymous"></script> -->

	<title>Welcome Job Seeker</title>

</head>

<body>

	<%- include('templates/navbar'); -%>

	<!-- Jumbotron -->
	<div class="jumbotron-home">
		<h1 class="jumbotron-title">Let's Find Your Future Job!</h1>
		<p class="jumbotron-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in
			neque recusandae, iste magni non.</p>

		<div class="search-job">
			<div class="container">
				<form class="form-search-job">
					<div class="row d-flex justify-content-center">

						<div class="col-md-3">
							<input type="text" name="keyword" placeholder="keyword, title, etc">
						</div>
						<div class="col-md-3">
							<input type="text" name="categories" placeholder="categories">
						</div>
						<div class="col-md-3">
							<input type="text" name="location" placeholder="location, city, country">
						</div>
						<div class="btn btn-findjob">
							<a class="" href="/joblist">find job &nbsp;<i class="fas fa-search"></i></a>
						</div>

					</div>

			</div>
			</form>
		</div>
	</div>
	</div>
	<!-- END OF Jumbotron -->

	<!-- Categories -->
	<div class="container section-categories">
		<h2 class="title-darkblue">Job Categories</h2>
		<p class="subtitle-darkblue">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in
			neque recusandae</p>

		<!-- cards -->
		<div class="row d-flex justify-content-center card-categories mb-4">

			<div class="col-md-3">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/accounting.png')">
						<p class="card-text">Accounting</p>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/composer.png')">
						<p class="card-text">Composser</p>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/gamedev.png')">
						<p class="card-text">Game Developement</p>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/graphic-design.png')">
						<p class="card-text">Graphic Design</p>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-4">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/sales.png')">
						<p class="card-text">Sales & Marketing</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 mt-4">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/support.png')">
						<p class="card-text">Support & IT</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 mt-4">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/translation.png')">
						<p class="card-text">Translation</p>
					</div>
				</a>
			</div>
			<div class="col-md-3 mt-4">
				<a href="#">
					<div class="card-category ml-1 mr-1 d-flex justify-content-center"
						style="background-image: url('img/categories/writing.png')">
						<p class="card-text">Writing</p>
					</div>
				</a>
			</div>

		</div>
		<!-- end of cards -->

		<a href="categories" class="browse-categories">Browse All Categories &nbsp;<i
				class="fas fa-arrow-right"></i></a>

	</div>
	<!-- END OF Categories -->

	<!-- How it works -->
	<div class="how-it-works pt-5">
		<div class="container">
			<h2 class="title-hiw">How It Works</h2>
			<p class="subtitle-hiw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in
				neque recusandae</p>

			<!-- card -->
			<div class="row card-hiws d-flex justify-content-center">

				<div class="col-md-3">
					<div class="card-hiw ml-1 mr-1 d-flex justify-content-center">
						<img class="img-hiw-1" src="img/icons/icon-job.png" alt="" style="width:150px; height:133px;">
					</div>
					<p class="hiw-title">Seek for job</p>
					<p class="hiw-text">Lorem ipsum dolor sit, amet conse adipisicing elit. Laudantium doloremque
						recusandae.</p>
				</div>
				<div class="col-md-1">
					<i class="fas fa-arrow-right"></i>
				</div>
				<div class="col-md-3">
					<div class="card-hiw ml-1 mr-1 d-flex justify-content-center">
						<img class="img-hiw-2" src="img/icons/icon-proposal.png" alt=""
							style="width:114px; height:146px;">
					</div>
					<p class="hiw-title">Submit proposal</p>
					<p class="hiw-text">Lorem ipsum dolor sit, amet conse adipisicing elit. Laudantium doloremque
						recusandae.</p>
				</div>
				<div class="col-md-1">
					<i class="fas fa-arrow-right"></i>
				</div>
				<div class="col-md-3">
					<div class="card-hiw ml-1 mr-1 d-flex justify-content-center">
						<img class="img-hiw-3" src="img/icons/icon-hired.png" alt="" style="width:151px; height:151px;">
					</div>
					<p class="hiw-title">Get hired</p>
					<p class="hiw-text">Lorem ipsum dolor sit, amet conse adipisicing elit. Laudantium doloremque
						recusandae.</p>
				</div>

			</div>

		</div>
	</div>
	<!-- END FO How it works -->

	<!-- Clients Say -->
	<div class="section-client">
		<div class="container">

			<h2 class="title-darkblue mt-5">What Others Say</h2>
			<p class="subtitle-darkblue">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque
				in neque recusandae</p>

			<!-- clients say -->
			<div class="row d-flex justify-content-center">

				<div class="client-prev"><i class="fas fa-angle-double-left"></i></div>

				<div class="col-md-8 mt-auto mb-auto client-box">
					<img src="img/client.jpeg" alt="">
					<div class="client-name mt-2">
						<h5>Alfan Hidayat</h5>
						<p>CEO of Mask Food Corp.</p>
					</div>
					<p class="client-quote">
						"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in neque
						recusandae, iste magni non nostrum saepe quis. Animi ipsum sequi quas placeat velitdolor iste."
					</p>
				</div>

				<div class="client-next"><i class="fas fa-angle-double-right"></i></div>

			</div>

		</div>
	</div>
	<!-- END OF Clients Say -->

	<!-- Contact us -->
	<div class="container contact mt-5">
		<h2 class="title-darkblue">Contact Us</h2>
		<div class="row mt-4 d-flex justify-content-center">

			<div class="col-md-6">
				<p class="p-contact">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium doloremque in
					neque recusandae iste magni non nostrum saepe quis. Animi ipsum sequi quas placeat velit dolor iste.
				</p>
				<form class="contact-us" action="">
					<input type="text" name="keyword" placeholder="Enter your email here">
					<div class="btn-contact-us">
						<a class="" href="">Request</a>
					</div>
				</form>
				<p class="contact-informations contact-information-1 mt-4"><i
						class="fas fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jendral Sudirman 42, My City</p>
				<p class="contact-informations"><i
						class="fas fa-at"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;support@jobseeker.com</p>
				<p class="contact-informations"><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+62 070 7070
					707</p>
			</div>

			<div class="col-md-1"></div>

			<div class="col-md-4 contact-photo">
				<!-- code in css -->
			</div>

		</div>
	</div>
	<!-- END OF Contact us -->

	<!-- Footer -->
	<%- include('templates/footer'); -%>
	<!-- END OF Footer -->


	<!-- JQuery and JSs -->
	<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>

</body>

</html>


<!-- /media/alfanmask/PROJECT/Web Dev/Job Seeker/img/ -->