<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- CSSs -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style-login.css">
	<link rel="stylesheet" href="/css/all.css">
	<!-- <script src="https://kit.fontawesome.com/a6b535fb5d.js" crossorigin="anonymous"></script> -->
	<title>Login</title>
</head>

<body>
	<!-- Navbar -->
	<%- include('templates/navbar'); -%>

	<!-- main -->
	<main>
		<!-- logo icon -->
		<div class="logo-icons">
			<h1>Login</h1>
			<h2>to find your future job</h2>
		</div>

		<!-- form -->
		<div class="">
			<div class="container">
				<form method="POST" action="/login">
					<% if (status == 'no'){ %>
						<p class="alert alert-danger">Account not found, please register</p>
					<% } %>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" placeholder="Enter your email" name='email'>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<div class="mata">
							<input type="password" class="form-control" id="password" placeholder="Enter your password" name='password'>
							<div class="eye">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</div>
						</div>
					</div>

					<div class="custom-control custom-checkbox mb-3">
						<input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
						<label class="custom-control-label" for="customCheck">Remember me</label>


					</div>

					<button type="submit" class="btn btn-info btn-block">Login</button>
					<div class="forgot-pass">
						<p>forgot password ?</p>
					</div>

				</form>
			</div>
		</div>

	</main>

	<!-- Footer -->
	<footer>

		<div class="container footer-top">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="#"><img src="img/logo.png"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link p-brand" href="#">JOB SEEKER Inc.</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Categories</a>
						</li>
						<li class="nav-item">
							<div class="btn-post-job">
								<a class="nav-link" href="#">Post job</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About us</a>
						</li>
					</ul>
					<ul class="navbar-nav navbar-right">
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="#">|</a>
						</li>
						<li class="nav-item active" style="margin: 0px !important;">
							<a class="nav-link" href="/register">Register</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<hr class="container">

		<div class="container footer-bottom">
			<p><i class="fas fa-copyright"></i>&nbsp;2020 Job Seeker Inc. Job Vacancy Corporation.</p>
			<ul class="list-footer-bottom">
				<li>Terms of Service</li>
				<li>Privacy Policy</li>
			</ul>
		</div>

	</footer>

	<!-- JQuery and JSs -->
	<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>