<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- CSSs -->
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/all.css">
		<!-- <script src="https://kit.fontawesome.com/a6b535fb5d.js" crossorigin="anonymous"></script> -->
		<title>Welcome Job Seeker</title>
	</head>

	<body>
		<%- include('templates/navbar'); -%>
		<% if (sess.company) {%>
			<%- include('templates/profile-company'); -%>
			<form method="POST" action="/profile">
				<button class="btn btn-danger" type="submit">Log out</button>
			</form>
		<% } else if (sess.email){ %>
			<%- include('templates/profile-employer'); -%>
			<form method="POST" action="/profile">
				<div class="row">
					<div class="col">
						<button class="btn btn-danger btn-block" type="submit">Log out</button>
					</div>
				</div>
			</form>
		<% }else{ %>
			<h1>Sorry, you must login or register</h1>
		<% } %>

		<!-- JQuery and JSs -->
		<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>