<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- CSSs -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style-register.css">
	<link rel="stylesheet" href="/css/all.css">
	<!-- <script src="https://kit.fontawesome.com/a6b535fb5d.js" crossorigin="anonymous"></script> -->
	<title>Login</title>
</head>

<body>
	<!-- Navbar -->
	<%- include('templates/navbar'); -%>
	<div class="jumbotron-home">
		<h1 class="jumbotron-title">Register Your Account!</h1>
		<h1 class="jumbotron-subtitle">as Employer or Company</h1>
	</div>

	<!-- End Navbar -->

	<!-- Main -->
	<div class="container">
		<div class="option">
			<h2>Select your account type</h2>
			<a href="/register-employer" type="button" class="btn btn-info btn-block">Are you an Employer? Let's find
				your job!</a>
			<a href="/register-company" type="button" class="btn btn-info btn-block">Are you a Company? Let's find your
				employer!</a>
		</div>
	</div>

	<!-- End Main -->

	<!-- Footer -->
	<%- include('templates/footer'); -%>
	<!-- END OF Footer -->
	
	<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/script-login.js"></script>
</body>
</html>