<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSSs -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/style-register-company.css">
  <title>Register</title>
</head>

<body>
  <!-- Navbar -->
  <%- include('templates/navbar'); -%>

  <!-- Jumbroton -->
  <div class="jumbotron-home">
    <h1 class="jumbotron-title">Register Your Account!</h1>
    <h1 class="jumbotron-subtitle">as Company</h1>
  </div>
  <!-- End Jumbroton -->

  <!--Main -->
  <div class="container" id="main-container">
    <!-- button change -->
    <div class="button">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <a href="/register/employer" type="button" class="btn btn-light">I'm an Employer</a>
        <a href="/register/company" type="button" id="btn-emp" class="btn btn-info">I'm a Company</a>
      </div>
    </div>
    <!-- end button change -->

    <div class="fill">
      <h3>Please fill the requirements</h3>
    </div>

    <!--form-->
    <form method="POST" action="/register/company">

      <div class="form-group ">
        <label for="name">Company Name</label>
        <input type="text" class="form-control" name="name" id="inputFirstName" placeholder="Enter the company name" required>
      </div>

      <div class="form-group">
        <label for="inputProfilVid">Company Profile Video</label><br>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
              placeholder="Upload your company profile video">
            <label class="custom-file-label" for="inputGroupFile01">Upload your company profile video</label>
          </div>
        </div>
        <span> You can change the video later on</span>
      </div>

      <div class="form-group">
        <label for="description">Company Description</label>
        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
          placeholder="Enter the company description" required></textarea>
        <span> You can edit it later on</span>
      </div>

      <div class="form-group">
        <label for="goal">Company Goals</label>
        <textarea name="goal" class="form-control" id="exampleFormControlTextarea1" rows="3"
          placeholder="Enter the company goals" required></textarea>
        <span> You can edit it later on</span>
      </div>

      <div class="form-group ">
        <label for="address">Company Address</label>
        <input name="address" type="text" class="form-control" id="inputLastName" placeholder="Enter the company address" required>
      </div>

      <div class="form-group">
        <label for="email">Company Email</label>
        <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter the company email" required>
      </div>

      <div class="form-group">
        <label for="website">Company Website</label>
        <input name="website" type="text" class="form-control" id="inputEmail" placeholder="Enter the company website" required>
      </div>

      <div class="form-group">
        <label for="password">Company Password</label>
        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Enter the company password" required>
      </div>

      <div class="form-group">
        <label for="inputSecurityQues">Security Question</label>
        <select id="inputSecurityQues" class="form-control">
          <option selected>Select Security Question</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputSecurityAns">Answer Security Question</label>
        <input type="text" class="form-control" id="inputSecurityAns" placeholder="Answer your security question">
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            I agree with the terms of service and privacy policy
          </label>
        </div>

      </div>
      <input type="submit" class="btn btn-info btn-block">Create Account</input>
    </form>
    <!--end form-->

  </div>
  <!-- End Main -->

  <!-- Footer -->
  <%- include('templates/footer'); -%>
  <!-- END OF Footer -->
  
  <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/script-login.js"></script>

</body>
</html>