<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- CSSs -->
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/all.css">
		<!-- <script src="https://kit.fontawesome.com/a6b535fb5d.js" crossorigin="anonymous"></script> -->
		<title>Welcome Job Seeker</title>
	</head>

	<body>
		<%- include('templates/navbar'); -%>
		<form method="POST" id="from-register" action="/register">
			<% if (status == 'no'){ %>
				<p class="alert alert-danger">Account already taken, please use another</p>
			<% } %>
			<label for='username'>Your name</label>
			<input type="text" placeholder="Username" id="username" name="username">
			<label for='email'>Your email</label>
			<input type="text" placeholder="Email" id="email" name="email">
			<label for='password'>Your password</label>
			<input type="password" placeholder="Password" id="password" name="password">
			<input type="submit" value="Submit">
		</form>

		<!-- JQuery and JSs -->
		<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>