*{
    margin:0;
}

@font-face{
	font-family: montserrat;
	src: url('./font/Montserrat-Light.ttf');
}
@font-face{
	font-family: montserrat;
	src: url('./font/Montserrat-Bold.ttf');
	font-weight: bold;
}
@font-face{
	font-family: roboto;
	src: url('./font/Roboto-Medium.ttf');
}

body{
    font-family: montserrat;
}


.logo-icons{
    display: flex;
    flex-direction: column;
    height: 20vmax;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: montserrat;
    font-style: italic;
    
}

.logo-icons h1{
    width: 60%;
    font-size: 70px;
    color: #264653ff;
    font-weight: bolder;
}

.logo-icons h2{
    color: rgb(82, 110, 121);
    width: 80%;
    font-size: 50px;
    font-weight: bolder;
}

#fotoprofil{
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}
