<div class="logo-icons alert alert-success">
    <strong>Hi <%= sess.user.username %>!</strong>
    <p>You can manage your profile here</p>
</div>

<div id="main" class="container">
    <div class="container">
        <div class="container d-flex flex-column align-items-center py-4">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <img id="fotoprofil" src="https://i.kym-cdn.com/photos/images/facebook/001/250/216/305.jpg" alt="..." class="rounded-circle ">
                    <h1><%= sess.user.username %></h1>
                    <p><%= sess.user.email %></p>
                    <p><%= sess.user.joined %></p>
                </div>
            </div>

            <div class="container mt-3">
                <form method="POST" id="from-register" action="/register-employer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="inputnama">Username</label>
                                <input id="inputnama" type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="inputEmail"
                            placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <div class="mata">
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                placeholder="Enter your password">
                            <div class="eye">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-2">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="logo-icons" style="height: 5vmax;">
            <h3>Bio</h3>
        </div>

        <div class="container mt-3">
            <form method="" id="from-register" action="">
                <div class="form-group">
                    <label for="username">Day of Birth</label>
                    <input type="date" class="form-control" id="inputFirstName" name="adress"
                        placeholder="Enter your Company Address">
                </div>

                <div class="form-group">
                    <label for="username">Address</label>
                    <input type="text" class="form-control" id="inputFirstName" name="adress"
                        placeholder="Enter your Address">
                </div>

                <div class="form-group">
                    <label for="Company Goals">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Describe about yourself"></textarea>
                </div>

                <div class="form-group">
                    <label for="hobi">Hobby</label>
                    <input type="text" class="form-control" id="hobi" name="hobby" placeholder="Enter your Hobi">
                </div>

                <div class="form-group">
                    <label for="Skill">Skill</label>
                    <input type="text" class="form-control" id="skil" name="skill" placeholder="Enter your Skill">
                </div>
            </form>
            <div>
                <div class="logo-icons" style="height: 5vmax;">
                    <h3>Portofolio</h3>
                </div>

                <div class="d-flex flex-row justify-content-around">
                    <div class="file-field" style="width: 200px;">
                        <div class="z-depth-1-half mb-4">
                            <div class="row">
                                <div class="col" style="border: 2px dashed black;text-align: center;">
                                    <strong>Empty</strong>
                                    <p>No portofolio</p>
                                </div>
                            </div>
                            <!-- <img src="https://img.pngio.com/dashed-line-square-png-free-download-dashed-line-png-500_500.png" class="img-fluid" alt="example placeholder"> -->
                            <!-- <input type="file"> -->
                            <div class="row">
                                <button class="btn btn-primary"><a style="color: white;text-decoration: none;" href="/portfolio">Add portofolio</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>